{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
<h2>Registro</h2>
<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <label>Usuario</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Rol</label>
        <select name="group" class="form-select" required>
            <option value="admin">Admin</option>
            <option value="cliente">Cliente</option>
            <option value="staff">Staff</option>
            <option value="premium">Premium</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Registrarse</button>
</form>
{% endblock %}
